.form-container{
    width: 500px;
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-gutter: stable;
    padding: 0 2rem 80px 2rem;
}       
.form-title{
    border-bottom: 3px solid black;
}

.form-container::-webkit-scrollbar {
    width: 4px; 
    background: #f0f0f0; 
    min-height: 30px;
}

.form-container::-webkit-scrollbar-thumb {
    background: #ccc; 
    border-radius: 6px; 
}
.delete-btn{
    position: static;
    margin-top: 0.5rem;
    width: 100%;
}
.save-btn{
    margin-top: 0.5rem;
    width: 100%;
}